{% extends 'layout.html' %}
{% block body %}
  <div>
    <div class="form-group">
      <form method="POST" action="{{ url_for('home') }}">
          <p>{{ form.csrf_token }}
          <p>{{ form.command_parser.label }}: {{ form.command_parser }}
          <p>{{ form.pretty_print}} {{ form.pretty_print.label}}
          <p>{{ form.command_output.label }}:
          <p>{{ form.command_output }}
          <p>{{ form.submit}}  <a href="{{ url_for('home') }}">Clear</a>
      </form>
    </div>
  </div>

  <div class="jumbotron" style="padding-top: 10px; padding-bottom: 5px;">
{{ output|safe }}
  </div>
{% endblock %}
