{% extends 'layout.html' %}
{% block body %}
  <form method="POST" action="">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.command_parser.label(class="form-control-label") }}: {{ form.command_parser(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.command_output.label(class="form-control-label") }}:
      {% if form.command_output.errors %}
        {{ form.command_output(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.command_output.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
      {% else %}
        {{ form.command_output(class="form-control", style="font-family:monospace;") }}
      {% endif %}
    </div>
    <div class="form-check">
      {{ form.pretty_print(class="form-check-input mb-3") }} {{ form.pretty_print.label(class="form-check-label mb-3") }}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-success") }}  <a class="btn btn-outline-info" href="{{ url_for('home') }}">Clear</a>
    </div>
  </form>

  <hr>
  <div class="card">
    <div class="card-header">
      JSON Conversion
    </div>
    <div class="card-body">
      {{ output|safe }}
    </div>
  </div>
{% endblock %}
