{% extends 'layout.html' %}
{% block body %}
<!-- <div class="jumbotron">
    <h1 class="display-4">class is display-4 </h1>
    <p class="lead">class is lead.</p>
    <p>Title: {{ title }}</p>

    <hr class="my-4">
    <p>class is my-4</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">This is a button</a>
  </div>
 -->
  <div>
    Please enter you command output and select a parser.
    <div class="form-group">
      <form method="POST" action="/">
          <p>{{ form.csrf_token }}
          <p>{{ form.command_parser.label }} {{ form.command_parser }}
          <p>{{ form.pretty_print}} {{ form.pretty_print.label}}
          <p>{{ form.command_output.label }}
          <p>{{ form.command_output }}
          <p>{{ form.submit}}
      </form>
    </div>
  </div>
  <div>
    <p>
    {% if form.pretty_print.data %}
      <pre>
{{ output }}
      </pre>
    {% else %}
      {{ output }}
    {% endif %}
  </div> 
{% endblock %}
